[Desktop Entry]
Encoding=UTF-8
Name=Bukake
Comment=Bukake P2P Cryptocurrency
Comment[fr]=Bukake, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bukake, eşten eşe kriptografik sanal para birimi
Exec=bukake-qt %u
Terminal=false
Type=Application
Icon=bukake128
MimeType=x-scheme-handler/bukake;
Categories=Office;Finance;
