[Unit]
Description=Bankitt's distributed currency daemon
After=network.target

[Service]
User=bankittcore
Group=bankittcore

Type=forking
PIDFile=/var/lib/bankittd/bankittd.pid
ExecStart=/usr/bin/bankittd -daemon -pid=/var/lib/bankittd/bankittd.pid \
-conf=/etc/bankittcore/bankitt.conf -datadir=/var/lib/bankittd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
