[Unit]
Description=Bukake's distributed currency daemon
After=network.target

[Service]
User=bukakecore
Group=bukakecore

Type=forking
PIDFile=/var/lib/bukaked/bukaked.pid
ExecStart=/usr/bin/bukaked -daemon -pid=/var/lib/bukaked/bukaked.pid \
-conf=/etc/bukakecore/bukake.conf -datadir=/var/lib/bukaked -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
